h1{
    font-size: 40px;
}
.orange-color{
    color: rgb(190, 124, 25);
}
#border{
    margin-left: 15px;
    border-left: red solid 3px;
}
.first-link{
    text-decoration: none;
    border-radius: 5px;
    background-color: salmon;
    padding: 5px 10px;
}
section{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
.width img{
    width: 80%;
}
h1{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.mission{
    color: sandybrown;
}